#extract list of spice names
grep 'label A' spiceindex.sc | awk -F '=' '{print $2}'

#extract all data with 3 in column (3, 13, 23, 33, 43, 53 and so on)
grep '*3 = ' spiceindex.sc

#get page number for a given spice
spice='allspice'
#get line with spice
spiceline='{grep $spice spiceindex.sc}
#get coord in the spiceline
coord=`{echo $spiceline | awk '{print $2}'}
#get coord num/column
colnum=`{echo $coord | awk '{print substr($1,2); }'}
#get line with spice index page
#todo: create var with B + $colnum
#todo: get line with grep for new var
#todo: use awk to get pagenum for spice query
