#!/bin/rc

#extract list of spice names
fn all_spices {
	grep 'label A' spiceindex.sc | awk -F '=' '{print $2}'
}


fn map_spice_to_index {
	#get page number for a given spice
	spice='allspice'

	#grep for full line with spice
	spiceline=`{grep $spice spiceindex.sc}

	#get coord in the spiceline
	coord=`{echo $spiceline | awk '{print $2}'}

	#get coord num/column substring
	colnum=`{echo $coord | awk '{print substr($1,2); }'}

	#get line with spice index page - expect B
	newcoord=`{echo 'B'^$colnum}

	#grep for the one line with the exact coordinate
	indexline=`{grep 'label '^$newcoord^' = ' spiceindex.sc}

	#awk to get pagenum for spice query
	index=`{echo $indexline | awk '{print $4}'}

	echo $spice^' -> '^$index
}

for(i) switch($i){
	case -m
		map_spice_to_index
	case -a
		all_spices
	case -*
		echo Usage: rc $0 '[-m [query] -a]'
}
